---
layout: home
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <h3>{{ post.subtitle }}</h3>

      <div class="entry">
        {% assign image = post.images[0] %}
        {% include image.html image=image %}
        <!--{{ post.content | truncatewords:70}}-->
      </div>

      <div class="read-more-container">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">•••</a>
  	  </div>
    </article>
  {% endfor %}
</div>