---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,300italic,400|Signika:700,400,600);
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  background: $darkerGray;
}

body {
	background: $white;
  font: 18px/1.4 $roboto;
  color: $darkGray;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 890px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $signika;
  color: $darkerGray;
  font-weight: 700;

  line-height: 1.7;
  margin: 1em 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  a {
    color: inherit;
  }
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $accentColor;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: mix($accentColor, $white, 70%);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.button {
    text-align: center;
  a {
    color: $white;
    background: $accentColor;
    border-radius: 3px;
    display: inline-block;
    padding:10px 20px;
    margin: 5px 0;
    &:hover, &:active {
      background: mix($accentColor, $white, 70%);
    }
  }
}

.date {
  font-size: 14px;
  font-style: italic;
  color: $gray;
  text-align:center;
}

.twitter-tweet {
  margin: 15px auto!important;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background: $accentColor;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  cursor: pointer;
  color: $white;
  font-family: $roboto;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-name a:hover, .site-name a:active {
    color: mix($accentColor, $white, 20%);
  }

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 14px;
  font-family: $roboto;
  font-size: 14px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 17px;
    color: $white;
    text-align: right;
    letter-spacing: .8px;
    &:hover, &:active {
      color: mix($accentColor, $white, 20%);
    }
    @include mobile {
      margin: 0 10px;
    }
  }
}

.intro {
  padding: 20px 0;

  h2 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.1em;
    margin: 1em 0 1.5em;

    @include mobile {
      font-size: 35px;
    }
  }
}

//
// .dribbble
//

.dribbble-shot {
  width: 25%;
  display: inline-block;
  position: relative;
  img {
    width: 100%;
    vertical-align: top;
  }
  @include mobile {
    width: 50%;
  }
}

.shot-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: rgba(38,216,210,.8);
  display: none;
  color: white;
  overflow: hidden;
  h3 {
    color: $white;
    margin: 20px 25px;
  }
}

.dribbble-shot:hover .shot-info {
  display:block;
}

//
// .main
//

.posts > .post {
  width: auto;
  height: 450px;
  border-bottom: 1px solid $lightGray;

    h1 {
      text-align: left;
      font-size: 50px;
      line-height: 1.1em;
      margin: 0 0 30px 0;
      @include mobile {
        text-align: center;
      }
    }

    h3 {
      text-transform: uppercase;
      color: #26D8D2;
      font-size: 16px;
      margin: 0 0 15px 0;

    }

    img {
      width: 300px;
      margin: 0 auto;
      display: block;
    }

    &:nth-child(even) {
      .col {
        float: right;
        h1, h3, .read-more-container {
          text-align: right;
          @include mobile {
            text-align: center;
          }
        }
        @include mobile {
          float: none;
        }
      }
    }

    @include mobile {
      height: auto;
      padding: 2em 0;
    }
}

.posts > .post:last-child {
  border-bottom: none;
}

.post {
  width: 650px;
  margin: 0 auto;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
  
  .read-more-container {
    width: 100%;
  }

  .read-more {
    color: $white;
    background: $accentColor;
    border-radius: 3px;
    padding: 0px 10px;
    margin-top: 5px;
    display: inline-block;
    &:hover, &:active {
      background: mix($accentColor, $white, 70%);
    }
  }
  .see-work {
    color: $accentColor;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid $accentColor;
    border-radius: 3px;
    padding: 10px 24px;
    display: inline-block;
    &:hover, &:active {
      color: $white;
      background: $accentColor;
    }
  }
}

.col {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  @include mobile {
    float: none;
    position: static;
    top: auto;
    transform: none;
    text-align: center;
  }
}

.one-half {
  width: 50%;
  @include mobile {
      width: 100%;
      margin-bottom: 14px;
    }
}

.wrapper-footer {
  background-color: $darkerGray;
  margin-top: 50px;
}

.home .wrapper-footer {
  margin-top: 0px;
}

footer {
  color: $white;
  font-size: 14px;
  padding: 20px 0 30px;
  line-height: .5em;
}

footer a svg {
  margin: 0 4px;
  -webkit-transition: 0 .1s ease-in;
  -moz-transition: 0 .1s ease-in;
  -o-transition: 0 .1s ease-in;
  transition: transform .1s ease-in;
  &:hover, &:active {
    transform: scale(1.04,1.04);
    -ms-transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04); 
  }
}

.footer-column {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  &:nth-child(2) {
    width: 38%;
    @include mobile {
      width: 100%;
      margin-bottom: 14px;
    }
  }
  @include mobile {
    width: 100%;
    margin-bottom: 14px;
  }
}

.footer-heading {
  font-weight: 500;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
