/* line 1, ../scss/theme.scss */
body, h1, h2, h3, h4, h5 {
  font-family: proxima-nova-soft-1, proxima-nova-soft-2, "Proxima Nova Soft", "Trebuchet MS", "Gill Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* line 5, ../scss/theme.scss */
.product-list h5 {
  color: #2196f3;
}

/* line 8, ../scss/theme.scss */
.product-list h4 {
  color: #2196f3;
}

/* line 11, ../scss/theme.scss */
.form-control:focus {
  border-color: #2196f3;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(33, 150, 243, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(33, 150, 243, 0.6);
}

/* line 17, ../scss/theme.scss */
.text-primary {
  color: #2196f3;
}

/* line 20, ../scss/theme.scss */
.text-secondary {
  color: #607d8b;
}

/* line 23, ../scss/theme.scss */
.text-tertiary {
  color: #f37e21;
}

/* line 26, ../scss/theme.scss */
.text-accent {
  color: #4caf50;
}

/* line 29, ../scss/theme.scss */
.text-cta {
  color: #d32f2f;
}

/* line 32, ../scss/theme.scss */
.main-nav-wrap {
  background: #eeeeee;
}

/* line 35, ../scss/theme.scss */
.site-tools {
  background: #2196f3;
}

/* line 38, ../scss/theme.scss */
#floating-cart {
  border: 4px solid #2196f3;
}

/* line 41, ../scss/theme.scss */
.main-nav-wrap {
  background: #eee;
}

/* line 44, ../scss/theme.scss */
.main-nav > li.hover-nav {
  background: #2196f3;
}

/* line 47, ../scss/theme.scss */
.main-nav li.shop-all.hover-nav {
  background: #2196f3;
}

/* line 50, ../scss/theme.scss */
.mega h4 a:hover {
  color: #2196f3;
}

/* line 53, ../scss/theme.scss */
.mega-subcats ul li a:hover {
  color: #2196f3;
}

/* line 56, ../scss/theme.scss */
.main-nav > li.hover-nav > a {
  color: #fff;
}

/* line 59, ../scss/theme.scss */
.mega {
  border: 3px solid #2196f3;
}

/* line 62, ../scss/theme.scss */
.main-nav li.shop-all .shop-all-box {
  border: 3px solid #2196f3;
}

/* line 65, ../scss/theme.scss */
.footer-newsletter {
  border-top: 1px solid #ddd;
}

/* line 68, ../scss/theme.scss */
footer {
  background: #eeeeee;
}

/* line 71, ../scss/theme.scss */
#home-carousel .item {
  min-height: 375px;
  background: #777777;
}

/* line 75, ../scss/theme.scss */
.paging-numbers a.currentpage {
  background: #4caf50;
  color: #ffffff;
}

/* line 79, ../scss/theme.scss */
.alt-image-wrap a:hover {
  border-color: #2196f3;
}

/* line 82, ../scss/theme.scss */
.product-tabs h3 {
  fcolor: #4caf50;
}

/* line 85, ../scss/theme.scss */
.nav-tabs > li > a:hover {
  color: #4caf50;
}

/* line 88, ../scss/theme.scss */
#checkout-signin-toggle {
  color: #2196f3;
}

/* EXTRA SMALL(xs) devices (480px and up)*/
/* SMALL (sm) devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 94, ../scss/theme.scss */
  .site-tools {
    background: #fff;
  }

  /* line 97, ../scss/theme.scss */
  .main-nav li a {
    color: #2196f3;
  }
}
/* MEDIUM (md) devices (desktops, 992px and up) */
/* LARGE (lg) devices (large desktops, 1200px and up) */
/* line 103, ../scss/theme.scss */
.btn-default {
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

/* line 106, ../scss/theme.scss */
.btn-primary {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #0960a5;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(45deg, #2196f3, #0960a5);
  background-image: -o-linear-gradient(45deg, #2196f3, #0960a5);
  background-image: linear-gradient(45deg, #2196f3, #0960a5);
}

/* line 120, ../scss/theme.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0c7cd5;
  border-color: #063e6b;
}

/* line 127, ../scss/theme.scss */
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

/* line 147, ../scss/theme.scss */
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2196f3;
  border-color: #0960a5;
}

/* line 151, ../scss/theme.scss */
.btn-primary .badge {
  color: #2196f3;
  background-color: #ffffff;
}

/* line 155, ../scss/theme.scss */
.btn-primary:hover {
  background: #0c7cd5;
}

/* line 158, ../scss/theme.scss */
.btn-primary:focus {
  background: #0c7cd5;
}

/* line 161, ../scss/theme.scss */
.btn-secondary {
  color: #ffffff;
  background-color: #607d8b;
  border-color: #607d8b;
}

/* line 171, ../scss/theme.scss */
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #4b626d;
  border-color: #475c67;
}

/* line 178, ../scss/theme.scss */
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-image: none;
}

/* line 198, ../scss/theme.scss */
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #607d8b;
  border-color: #607d8b;
}

/* line 202, ../scss/theme.scss */
.btn-secondary .badge {
  color: #607d8b;
  background-color: #ffffff;
}

/* line 206, ../scss/theme.scss */
.btn-secondary:hover {
  background: #4b626d;
}

/* line 209, ../scss/theme.scss */
.btn-secondary:focus {
  background: #4b626d;
}

/* line 212, ../scss/theme.scss */
.btn-tertiary {
  color: #ffffff;
  background-color: #f37e21;
  border-color: #d5650c;
}

/* line 222, ../scss/theme.scss */
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary.focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open > .dropdown-toggle.btn-tertiary {
  color: #ffffff;
  background-color: #d5650c;
  border-color: #9b4a08;
}

/* line 229, ../scss/theme.scss */
.btn-tertiary:active,
.btn-tertiary.active,
.open > .dropdown-toggle.btn-tertiary {
  background-image: none;
}

/* line 249, ../scss/theme.scss */
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled.focus,
.btn-tertiary[disabled].focus,
fieldset[disabled] .btn-tertiary.focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #f37e21;
  border-color: #d5650c;
}

/* line 253, ../scss/theme.scss */
.btn-tertiary .badge {
  color: #f37e21;
  background-color: #ffffff;
}

/* line 257, ../scss/theme.scss */
.btn-tertiary:hover {
  background: #d5650c;
}

/* line 260, ../scss/theme.scss */
.btn-tertiary:focus {
  background: #d5650c;
}

/* line 263, ../scss/theme.scss */
.btn-accent {
  color: #ffffff;
  background-color: #4caf50;
  border-color: #3d8b40;
}

/* line 273, ../scss/theme.scss */
.btn-accent:hover,
.btn-accent:focus,
.btn-accent.focus,
.btn-accent:active,
.btn-accent.active,
.open > .dropdown-toggle.btn-accent {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #2a612c;
}

/* line 280, ../scss/theme.scss */
.btn-accent:active,
.btn-accent.active,
.open > .dropdown-toggle.btn-accent {
  background-image: none;
}

/* line 300, ../scss/theme.scss */
.btn-accent.disabled,
.btn-accent[disabled],
fieldset[disabled] .btn-accent,
.btn-accent.disabled:hover,
.btn-accent[disabled]:hover,
fieldset[disabled] .btn-accent:hover,
.btn-accent.disabled:focus,
.btn-accent[disabled]:focus,
fieldset[disabled] .btn-accent:focus,
.btn-accent.disabled.focus,
.btn-accent[disabled].focus,
fieldset[disabled] .btn-accent.focus,
.btn-accent.disabled:active,
.btn-accent[disabled]:active,
fieldset[disabled] .btn-accent:active,
.btn-accent.disabled.active,
.btn-accent[disabled].active,
fieldset[disabled] .btn-accent.active {
  background-color: #4caf50;
  border-color: #3d8b40;
}

/* line 304, ../scss/theme.scss */
.btn-accent .badge {
  color: #4caf50;
  background-color: #ffffff;
}

/* line 308, ../scss/theme.scss */
.btn-accent:hover {
  background: #3d8b40;
}

/* line 311, ../scss/theme.scss */
.btn-accent:focus {
  background: #3d8b40;
}

/* line 314, ../scss/theme.scss */
.btn-cta {
  color: #ffffff;
  background-color: #d32f2f;
  border-color: #ab2424;
}

/* line 324, ../scss/theme.scss */
.btn-cta:hover,
.btn-cta:focus,
.btn-cta.focus,
.btn-cta:active,
.btn-cta.active,
.open > .dropdown-toggle.btn-cta {
  color: #ffffff;
  background-color: #ab2424;
  border-color: #781919;
}

/* line 331, ../scss/theme.scss */
.btn-cta:active,
.btn-cta.active,
.open > .dropdown-toggle.btn-cta {
  background-image: none;
}

/* line 351, ../scss/theme.scss */
.btn-cta.disabled,
.btn-cta[disabled],
fieldset[disabled] .btn-cta,
.btn-cta.disabled:hover,
.btn-cta[disabled]:hover,
fieldset[disabled] .btn-cta:hover,
.btn-cta.disabled:focus,
.btn-cta[disabled]:focus,
fieldset[disabled] .btn-cta:focus,
.btn-cta.disabled.focus,
.btn-cta[disabled].focus,
fieldset[disabled] .btn-cta.focus,
.btn-cta.disabled:active,
.btn-cta[disabled]:active,
fieldset[disabled] .btn-cta:active,
.btn-cta.disabled.active,
.btn-cta[disabled].active,
fieldset[disabled] .btn-cta.active {
  background-color: #d32f2f;
  border-color: #ab2424;
}

/* line 355, ../scss/theme.scss */
.btn-cta .badge {
  color: #d32f2f;
  background-color: #ffffff;
}

/* line 359, ../scss/theme.scss */
.btn-cta:hover {
  background: #ab2424;
}

/* line 362, ../scss/theme.scss */
.btn-cta:focus {
  background: #ab2424;
}

/* line 365, ../scss/theme.scss */
.panel-ghost .panel-heading {
  background: none;
}

/* line 368, ../scss/theme.scss */
.panel-primary {
  border-color: #2196f3;
}

/* line 371, ../scss/theme.scss */
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

/* line 376, ../scss/theme.scss */
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2196f3;
}

/* line 379, ../scss/theme.scss */
.panel-primary > .panel-heading .badge {
  color: #2196f3;
  background-color: #ffffff;
}

/* line 383, ../scss/theme.scss */
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #2196f3;
}

/* line 386, ../scss/theme.scss */
.panel-primary.panel-ghost {
  border-color: #2196f3;
}

/* line 389, ../scss/theme.scss */
.panel-primary.panel-ghost > .panel-heading {
  color: #2196f3;
  background-color: #ffffff;
  border-color: #2196f3;
}

/* line 394, ../scss/theme.scss */
.panel-primary.panel-ghost > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2196f3;
}

/* line 397, ../scss/theme.scss */
.panel-primary.panel-ghost > .panel-heading .badge {
  color: #ffffff;
  background-color: #2196f3;
}

/* line 401, ../scss/theme.scss */
.panel-primary.panel-ghost > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #2196f3;
}

/* line 404, ../scss/theme.scss */
.panel-primary.panel-borderless .panel-heading {
  color: #2196f3;
}

/* line 407, ../scss/theme.scss */
.panel-primary.panel-underline .panel-heading {
  border-bottom: 1px solid #2196f3;
}

/* line 410, ../scss/theme.scss */
.panel-secondary {
  border-color: #607d8b;
}

/* line 413, ../scss/theme.scss */
.panel-secondary > .panel-heading {
  color: #ffffff;
  background-color: #607d8b;
  border-color: #607d8b;
}

/* line 418, ../scss/theme.scss */
.panel-secondary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #607d8b;
}

/* line 421, ../scss/theme.scss */
.panel-secondary > .panel-heading .badge {
  color: #607d8b;
  background-color: #ffffff;
}

/* line 425, ../scss/theme.scss */
.panel-secondary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #607d8b;
}

/* line 428, ../scss/theme.scss */
.panel-secondary.panel-ghost {
  border-color: #607d8b;
}

/* line 431, ../scss/theme.scss */
.panel-secondary.panel-ghost > .panel-heading {
  color: #607d8b;
  background-color: #ffffff;
  border-color: #607d8b;
}

/* line 436, ../scss/theme.scss */
.panel-secondary.panel-ghost > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #607d8b;
}

/* line 439, ../scss/theme.scss */
.panel-secondary.panel-ghost > .panel-heading .badge {
  color: #ffffff;
  background-color: #607d8b;
}

/* line 443, ../scss/theme.scss */
.panel-secondary.panel-ghost > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #607d8b;
}

/* line 446, ../scss/theme.scss */
.panel-secondary.panel-borderless .panel-heading {
  color: #607d8b;
}

/* line 449, ../scss/theme.scss */
.panel-secondary.panel-underline .panel-heading {
  border-bottom: 1px solid #607d8b;
}

/* line 452, ../scss/theme.scss */
.panel-tertiary {
  border-color: #f37e21;
}

/* line 455, ../scss/theme.scss */
.panel-tertiary > .panel-heading {
  color: #ffffff;
  background-color: #f37e21;
  border-color: #f37e21;
}

/* line 460, ../scss/theme.scss */
.panel-tertiary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f37e21;
}

/* line 463, ../scss/theme.scss */
.panel-tertiary > .panel-heading .badge {
  color: #f37e21;
  background-color: #ffffff;
}

/* line 467, ../scss/theme.scss */
.panel-tertiary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f37e21;
}

/* line 470, ../scss/theme.scss */
.panel-tertiary.panel-ghost {
  border-color: #f37e21;
}

/* line 473, ../scss/theme.scss */
.panel-tertiary.panel-ghost > .panel-heading {
  color: #f37e21;
  background-color: #ffffff;
  border-color: #f37e21;
}

/* line 478, ../scss/theme.scss */
.panel-tertiary.panel-ghost > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f37e21;
}

/* line 481, ../scss/theme.scss */
.panel-tertiary.panel-ghost > .panel-heading .badge {
  color: #ffffff;
  background-color: #f37e21;
}

/* line 485, ../scss/theme.scss */
.panel-tertiary.panel-ghost > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f37e21;
}

/* line 488, ../scss/theme.scss */
.panel-tertiary.panel-borderless .panel-heading {
  color: #f37e21;
}

/* line 491, ../scss/theme.scss */
.panel-tertiary.panel-underline .panel-heading {
  border-bottom: 1px solid #f37e21;
}

/* line 494, ../scss/theme.scss */
.panel-accent {
  border-color: #4caf50;
}

/* line 497, ../scss/theme.scss */
.panel-accent > .panel-heading {
  color: #ffffff;
  background-color: #4caf50;
  border-color: #4caf50;
}

/* line 502, ../scss/theme.scss */
.panel-accent > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4caf50;
}

/* line 505, ../scss/theme.scss */
.panel-accent > .panel-heading .badge {
  color: #4caf50;
  background-color: #ffffff;
}

/* line 509, ../scss/theme.scss */
.panel-accent > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4caf50;
}

/* line 512, ../scss/theme.scss */
.panel-accent.panel-ghost {
  border-color: #4caf50;
}

/* line 515, ../scss/theme.scss */
.panel-accent.panel-ghost > .panel-heading {
  color: #4caf50;
  background-color: #ffffff;
  border-color: #4caf50;
}

/* line 520, ../scss/theme.scss */
.panel-accent.panel-ghost > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4caf50;
}

/* line 523, ../scss/theme.scss */
.panel-accent.panel-ghost > .panel-heading .badge {
  color: #ffffff;
  background-color: #4caf50;
}

/* line 527, ../scss/theme.scss */
.panel-accent.panel-ghost > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4caf50;
}

/* line 530, ../scss/theme.scss */
.panel-accent.panel-borderless .panel-heading {
  color: #4caf50;
}

/* line 533, ../scss/theme.scss */
.panel-accent.panel-underline .panel-heading {
  border-bottom: 1px solid #4caf50;
}

/* line 536, ../scss/theme.scss */
.panel-cta {
  border-color: #d32f2f;
}

/* line 539, ../scss/theme.scss */
.panel-cta > .panel-heading {
  color: #ffffff;
  background-color: #d32f2f;
  border-color: #d32f2f;
}

/* line 544, ../scss/theme.scss */
.panel-cta > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d32f2f;
}

/* line 547, ../scss/theme.scss */
.panel-cta > .panel-heading .badge {
  color: #d32f2f;
  background-color: #ffffff;
}

/* line 551, ../scss/theme.scss */
.panel-cta > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d32f2f;
}

/* line 554, ../scss/theme.scss */
.panel-cta.panel-ghost {
  border-color: #d32f2f;
}

/* line 557, ../scss/theme.scss */
.panel-cta.panel-ghost > .panel-heading {
  color: #d32f2f;
  background-color: #ffffff;
  border-color: #d32f2f;
}

/* line 562, ../scss/theme.scss */
.panel-cta.panel-ghost > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d32f2f;
}

/* line 565, ../scss/theme.scss */
.panel-cta.panel-ghost > .panel-heading .badge {
  color: #ffffff;
  background-color: #d32f2f;
}

/* line 569, ../scss/theme.scss */
.panel-cta.panel-ghost > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d32f2f;
}

/* line 572, ../scss/theme.scss */
.panel-cta.panel-borderless .panel-heading {
  color: #d32f2f;
}

/* line 575, ../scss/theme.scss */
.panel-cta.panel-underline .panel-heading {
  border-bottom: 1px solid #d32f2f;
}

/* line 578, ../scss/theme.scss */
.panel-borderless {
  box-shadow: none;
  border: 0;
}

/* line 582, ../scss/theme.scss */
.panel-borderless .panel-heading {
  padding: 0;
  color: #333;
  background: none;
  border: 0;
}

/* line 588, ../scss/theme.scss */
.panel-borderless .panel-title {
  padding-bottom: 3px;
}

/* line 591, ../scss/theme.scss */
.panel-borderless .panel-body {
  padding: 5px 0;
}

/* line 594, ../scss/theme.scss */
.panel-underline .panel-heading {
  border-bottom: 1px solid #ccc;
}

/* line 598, ../scss/theme.scss */
.table th:first-child,
.table td:first-child {
  padding-left: 10px;
}

/* line 602, ../scss/theme.scss */
.table th:last-child,
.table td:last-child {
  padding-right: 10px;
}

/* line 605, ../scss/theme.scss */
.table-primary th {
  background: #2196f3;
  color: #fff;
  border-right-color: #2196f3;
  border-left-color: #2196f3;
  border-bottom-color: #2196f3;
}

/* line 612, ../scss/theme.scss */
.table-secondary th {
  background: #607d8b;
  color: #fff;
  border-right-color: #607d8b;
  border-left-color: #607d8b;
  border-bottom-color: #607d8b;
}

/* line 619, ../scss/theme.scss */
.table-tertiary th {
  background: #f37e21;
  color: #fff;
  border-right-color: #f37e21;
  border-left-color: #f37e21;
  border-bottom-color: #f37e21;
}

/* line 626, ../scss/theme.scss */
.table-cta th {
  background: #d32f2f;
  color: #fff;
  border-right-color: #d32f2f;
  border-left-color: #d32f2f;
  border-bottom-color: #d32f2f;
}

/* line 633, ../scss/theme.scss */
.swatch.default {
  background: #eeeeee;
}

/* line 636, ../scss/theme.scss */
.swatch.default:after {
  content: "#eeeeee";
}

/* line 639, ../scss/theme.scss */
.swatch.primary .swatch-color {
  background: #2196f3;
}

/* line 642, ../scss/theme.scss */
.swatch.primary .swatch-label:after {
  content: "#2196f3";
}

/* line 645, ../scss/theme.scss */
.swatch.secondary .swatch-color {
  background: #607d8b;
}

/* line 648, ../scss/theme.scss */
.swatch.secondary .swatch-label:after {
  content: "#607d8b";
}

/* line 651, ../scss/theme.scss */
.swatch.tertiary .swatch-color {
  background: #f37e21;
}

/* line 654, ../scss/theme.scss */
.swatch.tertiary .swatch-label:after {
  content: "#f37e21";
}

/* line 657, ../scss/theme.scss */
.swatch.accent .swatch-color {
  background: #4caf50;
}

/* line 660, ../scss/theme.scss */
.swatch.accent .swatch-label:after {
  content: "#4caf50";
}

/* line 663, ../scss/theme.scss */
.swatch.background .swatch-color {
  background: #888888;
}

/* line 666, ../scss/theme.scss */
.swatch.background .swatch-label:after {
  content: "#888888";
}

/* line 669, ../scss/theme.scss */
.swatch.cta .swatch-color {
  background: #d32f2f;
}

/* line 672, ../scss/theme.scss */
.swatch.cta .swatch-label:after {
  content: "#d32f2f";
}

/* line 675, ../scss/theme.scss */
.swatch.default .swatch-color {
  background: #eeeeee;
}

/* line 678, ../scss/theme.scss */
.swatch.default .swatch-label:after {
  content: "#eeeeee";
}
