
//
// VARIABLES
//

// Colors
$accentColor: #26d8d2;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$robotoslab: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, serif;
$signika: "Signika", "Helvetica Neue", Helvetica, Arial, serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
