
//
// VARIABLES
//

// Colors
$accentColor: #26d8d2;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$headerfont: "Montserrat", "Helvetica Neue", Helvetica, Arial, serif;
$bodyfont: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
