/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=====================================*/

body {
  color: #616161;
  font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.home {
	background: #f7f7f7;
}

a {
  color: #616161;
  text-decoration: none;
}

a:hover {
  color: #7f9ea3;
}

::selection {
  background: #B9D9DE;
}
::-moz-selection {
  background: #B9D9DE;
}

#crown {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.bosc {
  width: 100%;
  background: #b9d9de;
  padding: 0px;
  margin: 0px;
  display: block;
  float: left;
}

.bosc-left {
  max-width: 600px;
  padding: 12px;
  float: left;
}

.bosc-left p {
  font-size: 75%;
}

.bosc-right {
  padding: 12px 0px 0px;
  float: right;
}

.bosc-right .bosc-account {
	position: relative;
}

.bosc-right ul li {
  font-size: 75%;
  padding: 0px 10px;
  display: inline-block;
	float: left;
  vertical-align: top;
}

.bosc-right ul li:last-child {
  padding-right: 0px;
}

.bosc-right ul li a {
  display: block;
}

.bosc-right ul li ul li {
	font-size: 100%;
}

.bosc-right > ul > li > a:before, .bartlett-right > ul > li > a:before {
  width: 20px;
  height: 16px;
  content: "";
  float: left;
  margin: -2px 4px 0 0;
  background: url(http://www.peartreegreetings.com/assets/ptg/images/global/gracelandSprites.png) no-repeat right bottom;
}

.bosc-right > ul > li.myaccount > a:before {
  background-position: -192px -32px;
}

.bosc-right ul li.referral a:before {
  background-position: -288px -31px;
  margin:-3px 4px 0 0;
}

.bosc-right ul li.cart a:before {
  background-position: -64px -32px;
}

.bosc-right .bosc-account li.myaccount:hover:before {
	content:"";
	height: 5px;
	width: 10px;
	background: url(http://www.peartreegreetings.com/images/global/arrow_tinyUpFFF.png) no-repeat;
	bottom: 0;
	right: 250px;
	position: absolute;
}

.bosc-right .bosc-account li ul {
visibility:hidden;
text-align:left;
background-color:#fff;
width:100%;
float:left;
position:absolute;
left:0;
border-radius:3px;
box-shadow:0 3px 3px 1px rgba(0,0,0,.1);
margin:0;
padding:0;
z-index: 1;
}

.bosc-right .bosc-account li:hover ul {
visibility:visible;
}

.bosc-right .bosc-account li ul li {
display:inline;
border:none;
line-height:16px;
height:16px;
min-width:40%;
background:0 0;
margin:4px 0 0;
padding-top:10px;
}

.bosc-right .bosc-account li:hover ul li {
display:block;
visibility:visible;
}

.bosc-right .bosc-account li ul li a {
color:#4E453E;
font-weight:400;
}

.bosc-right .bosc-account li ul li > a:after {
width:16px;
height:16px;
content:"";
float:left;
background:url(../images/global/gracelandSprites.png) no-repeat right bottom;
margin:0 8px 0 0;
}

.bosc-right .bosc-account li ul li.endCap {
display:block;
width:100%;
background-color:#E7E7E7;
border-radius:0 0 3px 3px;
border-top:1px dotted #E7B15B;
margin:10px 0 0 0;
padding:5px 0;
}

.bosc-right .bosc-account li ul li a.logout {
	padding: 0 10px;
}

.bosc-right .bosc-account li ul li a.logout:after {
background-position:-32px -32px;
}

.bosc-right .bosc-account li ul li a.logout:hover:after {
background-position:-32px -64px;
}

.bosc-right .bosc-account li ul li a.myreferrals:after {
background-position:-320px -32px;
}

.bosc-right .bosc-account li ul li a.myreferrals:hover:after {
background-position:-320px -64px;
}

.bosc-right .bosc-account li ul li a.updateAccount:after {
background-position:-256px -32px;
}

.bosc-right .bosc-account li ul li a.updateAccount:hover:after {
background-position:-256px -64px;
}

.bosc-right .bosc-account li ul li a.saved:after {
background-position:-128px -32px;
}

.bosc-right .bosc-account li ul li a.saved:hover:after {
background-position:-128px -64px;
}

.bosc-right .bosc-account li ul li a.history:after {
background-position:-224px -32px;
}

.bosc-right .bosc-account li ul li a.history:hover:after {
background-position:-224px -64px;
}

.bosc-right .bosc-account li ul li a.favorites:after {
background-position:-160px -32px;
width:18px;
}

.bosc-right .bosc-account li ul li a.favorites:hover:after {
background-position:-160px -64px;
}

.bartlett-right ul li.help a:before {
  background: url(http://www.mknepprath.com/wp-content/uploads/2014/07/help.png) no-repeat right bottom;
}

.bartlett-right ul li.chat a:before {
  background: url(http://www.mknepprath.com/wp-content/uploads/2014/07/chat.png) no-repeat right bottom;

}

.bartlett {
  width: 100%;
  background: #fff;
  padding: 0px;
  margin: 0px;
  display: block;
  overflow: hidden;
}

.bartlett-left {
  width: 192px;
  padding: 10px;
  float: left;
}

.bartlett-left .logo {
  padding: 6px 0px 0px;
}

.bartlett-right {
  padding: 18px 0px;
  float: right;
}

.bartlett-right ul li {
  font-size: 85%;
  padding: 0px 15px;
  text-transform: uppercase;
  display: inline-block;
}

.bartlett-right .search input {
  color: #616161;
  font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  padding: 11px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: url(http://www.mknepprath.com/wp-content/uploads/2014/07/magnifyinglass.png) no-repeat;
  background-position: 170px 8px;
}

.bartlett-right ul li:last-child {
  padding-right: 0px;
}

.anjou {
  background: #c8d62c;
  width: 100%;
  overflow: hidden;
}

.anjou p {
  font-size: 150%;
  text-align: center;
  line-height: 120%;
  padding: 12px 0px;
}

.anjou p .anjou-code {
  background: #d8e730;
  padding: 12px 6px;
}

#trunk {
  width: 100%;
}

#trunk .newsletter {
  background: #b9d9de;
  overflow: hidden;
}

#trunk .newsletter-left {
  max-width: 400px;
  padding: 16px 0px;
  float: left;
  overflow: hidden;
}

#trunk .newsletter-left .newsletter-icon {
  padding: 1px 18px 0px;
  float: left;
}

#trunk .newsletter-left h1 {
  font-size: 120%;
  font-weight: 700;
  padding-top: 6px;
  float: left;
}

#trunk .newsletter-left p {
  font-size: 85%;
  padding-top: 5px;
  float: left;
}

#trunk .newsletter-right {
  max-width: 360px;
  padding: 25px 0px;
  float: right;
}

#trunk .newsletter-right input {
  color: #616161;
  font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background: #ffffff;
  background-position: 170px 8px;
  float: left;
}

#trunk .newsletter-right .newsletter-button {
  color: #616161;
  font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: .4px;
  background: #91b7be;
  border-radius: 3px;
  border: none;
  border-top: #709599;
  padding: 15px 25px;
  float: left;
}

#roots {
  width: 100%;
}

#roots .radicle {
  width: 100%;
}

#roots .divided {
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}

#roots .radicle .promo {
  width: 49%;
}

#roots .radicle .promo:last-child {
  margin-right: 0px;
}

#roots .root {
  background: #ffffff;
  margin: 16px 1.4% 0px .2%;
  display: inline-block;
  box-shadow: 0px 2px 5px #dddddd;
  border-radius: 3px;
  float: left;
}

#roots img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
	width: 100%;
}

#roots .caption {
  text-align: center;
  padding: 12px;
  margin: 0px;
}

#roots .root.full-root {
  width: 99.555555%;
}

#roots .root.half-root {
  width: 48.888888%;
}

#roots .root.third-root {
  width: 32%;
}

#roots .root.fourth-root {
  width: 23.555555%;
}

#roots .root.fifth-root {
  width: 18.444444%;
}

#roots .root.mosaic-half-root {
  width: 31.111111%;
}

#roots .root.mosaic-full-root {
  width: 66.666666%;
}

#roots .root.right-root {
  float: right;
}

#roots .root .blog-top {
  max-width: 822px;
  margin: 0 auto;
  padding: 30px;
  text-transform: uppercase;
  overflow: hidden;
}

#roots .root .blog-top-left {
  font-size: 200%;
  width: 300px;
  float: left;
}

#roots .root .blog-top-right {
  width: 300px;
  text-align: right;
  float: right;
}

#roots .root .blog-bottom {
  max-width: 822px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#roots .root .blog-bottom .blog-post {
  width: 23.111111%;
  margin-right:  1.81%;
  display: inline-block;
  vertical-align: top;
}

#roots .root .blog-bottom .blog-post h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 85%;
  line-height: 130%;
}

#roots .root .blog-bottom .blog-post img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

#roots .root .blog-post div, #roots .root .blog-post p {
  display: none;
}

.last-root {
  margin-right: 2px !important;
}

#roots .tiled-background {
  width: 100%;
  height: 460px;
  background: url(http://www.mknepprath.com/wp-content/uploads/2014/07/p1710181401-5.jpg) fixed;
  background-size: 150%;
	overflow: hidden;
}

#roots .tiled-background button {
  color: #616161;
  font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: .4px;
  background: #91b7be;
  border-radius: 3px;
  border: none;
  border-top: #709599;
  padding: 15px 25px;
  display: block;
  margin: 15px auto;
}

/* VIDEO */

#roots .tiled-background .video {
	width: 100%;
	z-index: -1;
}

#roots .tiled-background .video #bgvideo {
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	width: auto;
	height: auto;
	z-index: -200;
	background-size: cover;
}

#roots .tiled-background .video-text {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 200px;
	text-shadow: 0px 1px 6px #333;
}

/* END VIDEO */

.full-bleed {
  width: 100%;
}

.full-width {
  max-width: 1000px;
  margin: 0 auto;
}

.indent-width {
  max-width: 900px;
  margin: 0 auto;
}

.width-825 {
  max-width: 825px;
  margin: 0 auto;
}

.bot-food {
  font-size: 75%;
  line-height: 150%;
  padding-top: 16px;
}

.nav {
  width: 100%;
  background: #f7f7f7;
}

.nav > ul {
  padding: 7px 0px 26px;
	max-width: 815px;
	margin: 0 auto;
  /*overflow: hidden;*/
}

.nav > ul > li {
  font-size: 85%;
  line-height: 150%;
  float: left;
  padding: 0px 10px;
  text-transform: uppercase;
  border-right: 1px solid #ddd;
}

.nav > ul > li:nth-child(8) {
  border: none;
}

/* #navBarMain {
    width: 100%;
    height: 32px;
    color: #616161;
    font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;

    font-size: 11px;
    float: left;
    padding-left: 180px;
    margin-top: 74px;
}

#navBarMain>li {
    float: left;
    padding: 0 7px;
    display: inline-block;
    position: relative;
    line-height: 30px;
    border-left: 1px solid #96bac1;
    border-radius: 0;
}*/

#navBarMain>li:hover {
    position: relative;
    z-index: 2000;
    color: #7f9ea3;
    background-color: #fff;
    /*box-shadow: 0 3px 3px #779da7;*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
}

/*#navBarMain>li>a {
    color: #616161;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    font-size: .9375rem;
    display: inline-block;
    font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#navBarMain>li>a:hover {
    color: #9b510b;
}*/

#navBarMain>li>.multi {
    display: none;
    width: 805px;
    font-size: 83%;
    padding: 27px 15px;
    /*margin-top: -4px;*/
    background-color: #fff;
    position: absolute;
    /*top: 33px;
    left: -15px;*/
    z-index: 2000;
    /*box-shadow: 0 3px 3px #779da7;*/
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#navBarMain>li:hover>.multi {
    display: block;
    position: absolute;
    /*top: 100%;*/
    z-index: 2000;
}

#navBarMain>li>.multi>span {
    width: 170px;
    float: left;
    padding: 0 15px;
}

#navBarMain>li>.multi>.leftDivider {
    border-left: 1px solid #eee;
}

#navBarMain>li>.multi>span>h3 {
    line-height: 110%;
    margin: 0;
    padding: 0 0 11px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 130%;
    display: block;
    font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#navBarMain>li>.multi>span>h3>a {
    color: #616161;
    position: relative;
}

#navBarMain>li>.multi>span>h3>a:hover {
    color: #9b510b;
}

#navBarMain>li>.multi>span>ul>li {
    float: none;
    line-height: 120%;
    padding-left: 8px;
}

#navBarMain>li>.multi>span>ul>li>a {
    color: #616161;
    padding-bottom: 10px;
    text-transform: none;
    font-weight: 400;
    font-size: 110%;
    display: inline-block;
    font-family: proxima-nova-soft-1,proxima-nova-soft-2,"Proxima Nova Soft","Trebuchet MS","Gill Sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#navBarMain>li>.multi>span>ul>li>a:hover {
    color: #9b510b;
}

/*ul#navBarMain>li:first-child {
    border: none;
}*/

#navBarMain>li.anchor {
    visibility: hidden;
    display: none;
}

#navBarMain>li.less {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#navBarMain>li.footer {
    display: none;
}

#gradhaticon {
    float: left;
    z-index: 999;
    position: absolute;
    left: -8px;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -webkit-transition: -webkit-transform .1s ease-in;
    -moz-transition: -moz-transform .1s ease-in;
    -o-transition: -o-transform .1s ease-in;
    transition: transform .1s ease-in;
}

#gradhaticon:hover {
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}

.navCaption {
    color: #fff;
    font-weight: 300;
    font-size: 80%;
    text-transform: none;
    line-height: 110%;
    padding: 5px;
    background: #91B7BE;
    display: block;
    position: absolute;
    width: 130px;
    top: -20px;
    left: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 2px #777;
    -webkit-box-shadow: 1px 1px 2px #777;
    -moz-box-shadow: 1px 1px 2px #777;
}

.navFeatured {
    width: 170px;
    height: 176px;
    display: inline-block;
}

#navBarMain .nb1 div {
    left: 0;
    width: 610px!important;
    border-top-left-radius: 0;
}

#navBarMain .nb2 div {
    left: -123px;
}

#navBarMain .nb3 div {
    left: 0;
    width: 401px!important;
    border-top-left-radius: 0;
}

#navBarMain .nb4 div {
    left: -102px;
    width: 610px!important;
}

#navBarMain .nb5 div {
    left: -214px;
    width: 610px!important;
}

#navBarMain .nb6 div {
    left: -321px;
    width: 610px;
}

#navBarMain .nb7 div {
    left: -470px;
    width: 610px!important;
}

#navBarMain .nb8 div {
    left: -583px;
    width: 610px!important;
    border-top-right-radius: 0;
}

footer {
	width: 100%;
	color:#7c7c7c;
	padding:45px 0 55px;
}

#taproot {
position:relative;
background:#f5f3f0 url(http://www.mknepprath.com/wp-content/uploads/2014/07/footer_background.png) repeat-x;
text-align:center;
min-width:1000px;
}
